<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet" />

</head>
<body ng-app="AdminControlSC" ng-controller="UserController" data-ng-init="init()">
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Dashboard">Sport City [ACB]</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Perfil</a></li>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="/User/logOut">Salir</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="{{classMenuInicio}}"><a ng-click="showSection('Home');" href="#">Inicio</a></li>
                    <li class="{{classMenuUsuarios}}"><a ng-click="showSection('User');" href="#">Usuarios</a></li>
                    <li class="{{classMenuBanners}}"><a ng-click="showSection('Banner');" href="#">Banners</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                @RenderBody()
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    @RenderSection("scripts", required: false)


    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script> 
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/angular-resource.min.js"></script>
    <script src="/Scripts/underscore-min.js"></script>
    <script src="/Scripts/angular-file-upload.js"></script>
    <script src="/Scripts/angular-file-upload-shim.js"></script>
    <script src="/Scripts/app.js"></script>
    <script src="/Scripts/controller.js"></script>
    <script src="/Scripts/service.js"></script>
    

</body>
</html>
