@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Preview-HOME</title>
    <link rel="stylesheet" type="text/css" href="https://www.sportcity.com.mx/css/generales.css">
    <link rel="stylesheet" type="text/css" href="https://www.sportcity.com.mx/css/header.css">
    <link rel="stylesheet" type="text/css" href="https://www.sportcity.com.mx/css/fuentes.css">
    <link rel="stylesheet" type="text/css" href="https://www.sportcity.com.mx/css/footer.css">
    <link rel="stylesheet" type="text/css" href="https://www.sportcity.com.mx/css/menu2.css">
    <link rel="stylesheet" type="text/css" href="https://www.sportcity.com.mx/css/noticias.css">
    <link rel="stylesheet" type="text/css" href="https://www.sportcity.com.mx/css/sliderV2.css">
    <link rel="stylesheet" type="text/css" href="https://www.sportcity.com.mx/css/skdslider.css">
    <link rel="stylesheet" type="text/css" href="https://www.sportcity.com.mx/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,300,600,400' rel='stylesheet' type='text/css'>

    <!--script-->
    <script defer src="https://www.sportcity.com.mx/scripts/slider.js"></script>
    <script src="https://www.sportcity.com.mx/scripts/pluginSlider.js"></script>
    <script src="https://www.sportcity.com.mx/scripts/jquery-2.1.1.js"></script>
    <script src="https://www.sportcity.com.mx/scripts/scripts.js"></script>
    <script src="https://www.sportcity.com.mx/scripts/jquery.bxslider.js"></script>
    <script src="https://www.sportcity.com.mx/scripts/classie.js"></script>
    <script src="https://www.sportcity.com.mx/scripts/skdslider.js"></script>

    <script src="https://www.sportcity.com.mx/scripts/jquery.cookie.js"></script>
    <script src="https://www.sportcity.com.mx/scripts/jquery.popupoverlay.js"></script>
    
    <script>
        $(document).ready(function () {


         $('#takeOver').popup({
          opacity: 0.8,
          transition: 'all 0.3s',
          vertical: 'top'
        });


         function abrir(){

        setTimeout(function() {
          $('#takeOver').popup('show');
          $('.img1').css("display","block");
          $('.img2').css("display","block");
          TweenMax.from('.img1', 2, {opacity:0, scale:0, ease: Elastic.easeInOut});
          TweenMax.to('.img1', 2, {opacity:0, scale:0, delay:5, ease: Back.easeOut.config(1), y: 0});

          TweenMax.from('.img2', 2, {opacity:0, scale:0, ease: Elastic.easeInOut, delay:5});
          TweenMax.to('.img2', 2, {opacity:0, scale:0, delay:12, ease: Back.easeOut.config(1), y: 0});

        }, 5000);

        }

        function cerrarPop(){
        setTimeout(function() {
          $('#takeOver').popup('hide');
        }, 19000);


        }

          // check cookie
                var visited = $.cookie("Takeover")

               // if (visited == null) {
                    // $.cookie('Takeover', 'Activo');
                    abrir();
                    cerrarPop();
               // }

                // set cookie

            //var date = new Date();
            //var minutes = 1440;
            //date.setTime(date.getTime() + (minutes * 60 * 1000));
            //$.cookie('Takeover', 'Activo', { expires: date, path: '/', domain: 'sportcity.com.mx' });
            

        });

    </script>
    <!--takeOver-->

    <style>
        .closeM {
            background: #656565;
            color: #FFF;
            line-height: 40px;
            position: absolute;
            right: 1px;
            text-align: center;
            top: 1px;
            width: 40px;
            text-decoration: none;
            font-weight: bold;
            border-radius: 50%;
            margin-top: 20px;
            margin-right: 10px;
            cursor: pointer;
        }

            .closeM:hover {
                color: #fff;
                background-color: #3a3a3a;
            }




        #imagen1 {
            position: absolute;
        }

        #imagen2 {
            position: absolute;
        }

        .take {
            width: 827px;
            height: 723px;
        }


        .img1 {
            margin: 0 auto;
            text-align: center;
            display: none;
        }


        .img2 {
            margin-top: -600px;
            display: none;
        }
    </style>



</head>
<body>

    <!-- inicia el takeover-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.1/TweenMax.min.js"></script>


    @Html.Raw(ViewBag.takeOver)

    
    <!-- termina el takeover -->
    <!-- estos son los modals-->

    @Html.Raw(ViewBag.modals)

    <!-- fin de los modals-->
    <!-- slider -->
    @Html.Raw(ViewBag.contenido)
    <!-- Termina slider-->

    <!-- Noticias -->
    <div class="content_noticias">
        <div class="content_noticiasCentro">
            @Html.Raw(ViewBag.newsA)

            @Html.Raw(ViewBag.newsB)

            <div class="view view-first">
                <div id="imgMitad1">
                    <img src="https://www.sportcity.com.mx/images/promo3.png">
                    <div class="mask">
                        <a href="#modalPromo3" class="info">Ver más</a>
                    </div>
                </div>
                <a href="http://blogsportcity.com.mx/" target="_blank">
                    <div id="imgMitad2">
                        <img src="https://www.sportcity.com.mx/images/noticias/blog.png">
                    </div>
                </a>
            </div>

        </div>  
    </div>
                    <!-- Termina Noticias-->

    <!--Inicia Banners-->
    <div class="skdslider">
        <ul id="demo1" class="slides">
            <li>
                <div class="bannerEstatico">
                    <div class="bannerEstaticoCentro">
                        <img src="https://www.sportcity.com.mx/images/club/cortesia_texto.png" alt="" /></a>
                    </div>
                </div>
            </li>
            <!--<li><div class="bannerEstatico2">
                    <div class="bannerEstaticoCentro">
                        <img src="images/slider300px/JD5.png" alt=""/></a>
                    </div>
                </div>
            </li>-->

            <li>
                <div class="bannerEstatico3">
                    <div class="bannerEstaticoCentro">
                        <img src="https://www.sportcity.com.mx/images/slider300px/deporteismo_texto.png" alt="" /></a>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <!--Termina banners-->

</body>
</html>
